@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Select2/select2.min.css" rel="stylesheet" />

<style type="text/css">
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #3c8dbc;
        border: 1px solid #3c8dbc;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: white;
    }

    .select2-container--default .select2-selection--multiple {
        height: auto !important;
        width: 100%;
    }

    .select2-container .select2-search--inline .select2-search__field {
        margin-top: 5px !important;
        padding-left: 10px !important;
        width: 100% !important;
    }
</style>

<div class="container main-ctn">
    @if (User.IsInRole("Admin"))
    {
        <h1 class="title">Prospect Lists (Admin)</h1>
    }
    else
    {
        <h1 class="title">Prospect Lists (Recruiter)</h1>
    }

    <div id="divmsg" class="alert alert-success" style="display:none"></div>
    <div id="div_error_msg" class="alert alert-danger" style="display:none"></div>
    @if (@ViewBag.message != null && @ViewBag.message == "Record Deleted")
    {
        <div id="" class="alert alert-success">@ViewBag.Message</div>
    }
    else if (@ViewBag.message != null)
    {
        <div id="" class="alert alert-danger">@ViewBag.Message</div>
    }
    <div class="divcreate"><a href="javascript:void(0)" class="btn btn-success" onclick="showpopup()" id="lnkcreate">Create New   <i class="fa fa-plus" aria-hidden="true"></i></a> </div>

    <div id="tblprospect">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>List ID</th>
                    <th>ListName</th>
                    <th>Total No. of Company</th>
                    <th>Total No. of Contact</th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th style="width: 14%;">User Actions</th>
                    }
                </tr>
            </thead>

            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.listid</td>
                            <td>
                                <a href="/ProspectViewList/Index?listid=@i.listid&lstname=@i.listname" id="@i.listid">@i.listname</a>
                            </td>
                            <td>@i.Cnt</td>
                            <td>@i.contactCount</td>
                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    <a class="btn Edit" onclick="showpopupedit('@i.listname','@i.listid','@i.restricted')" href="javascript:void(0)"><i class="fa fa-pencil-square-o"></i></a>
                                    <a href="/ProspectListsAdmin/Delete_Prospective?listid=@i.listid" class="btn Delete" onclick='return confirm("Are you sure you wish to delete this Prospect?");'><i class="fa fa-trash-o"></i></a>
                                    @*<a class="btn MoveList" onclick="showpopup_Move('@i.listid', '@i.listname')" href="javascript:void(0)" title="Move list's companies and their contacts with notes to another list"><i class="fa fa-exchange"></i></a>*@
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No Record Found</td>
                    </tr>
                }
            </tbody>
        </table>
        <label id="hiddenlistid" style="display:none">@ViewBag.listid</label>
    </div>
</div>

<div class="modal manage-sts-popup" id="FileManageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Role</h4>
            </div>
            <div class="clearfix"></div>
            <div class="modal-body">

                @*<div class="modal-row" id="oldrolename" style="display:none">
                        <h3>Old Role Name</h3>
                        <div class="input-fld select-box">



                            <div id="divrole"></div>

                        </div>
                    </div>*@
                <div class="col-sm-12 form-group" id="oldrolename" style="display:none"><label>Old Role Name</label><div id="divrole"></div></div>
                <div class="col-sm-12 form-group">
                    <label>Prospect Name</label>
                    <input type="text" id="txtlistname" class="form-control" placeholder="Prospect Name">
                    <div id="" class="validateTips"></div>

                    <input type="hidden" id="hdnlistid" />

                </div>

                <div class="col-sm-12 form-group">
                    <label>Restricted</label>
                    <div>
                        <input type="radio" name="Restricted" value="Yes" checked="checked">Yes<br>
                        <input type="radio" name="Restricted" value="No">No<br>
                        <div id="" class="validateTips"></div>
                    </div>


                </div>



                @*<div class="modal-row">
                        <h3>Role Name</h3>
                        <div class="input-fld select-box">
                            <input type="text" class="form-control" id="txtrolename" />

                            <div id="" class="validateTips"></div>
                        </div>
                    </div>*@

            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <div id="divcreaterole"> <a href="javascript:void(0);" name="btnAddFile" class="btn btn-success"> Create</a> </div>
                <div id="divUpdaterole"> <a href="javascript:void(0);" name="btnupdaterole" class="btn btn-success"> Update</a> </div>
                <div id="divmsg"></div>
            </div>
        </div>
    </div>
</div>

<!--Modal Popup for Move Functionality [START]-->
<div class="modal manage-sts-popup" id="MoveListDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Move List's Company(s) To Another List</h4>
            </div>
            <div class="clearfix"></div>
            <div class="modal-body">
                <input type="hidden" id="hdnlistid" />
                <div class="col-sm-12 form-group">
                    <label>Moving From (List Name)</label>
                    <input type="text" readonly="readonly" id="ListName" class="form-control" />
                    <div id="divMessage_ListName" style="color:red; font-size:larger; display:none;"></div>
                </div>
                <div class="col-sm-12 form-group">
                    <label>List's Companies (which you want to move)</label>
                    <select id="ddlCompaniesInList" class="form-control select2" style="width: 100%;" multiple="multiple"></select>
                    <div id="divMessage_ddlCompaniesInList" style="color:red; font-size:larger; display:none;"></div>
                </div>
                <div class="col-sm-12 form-group">
                    <label>Moving To (List Name)</label>
                    <select id="ddlOtherList" class="form-control">
                        <option value="0">--Select List--</option>
                    </select>
                    <div id="divMessage_ddlOtherList" style="color:red; font-size:larger; display:none;"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <div id="divMoveListData">
                    <a href="javascript:void(0);" id="btnMoveListData" class="btn btn-success" onclick="return moveListDataToAnotherList();">Move</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Popup for Move Functionality [END]-->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/Select2/select2.full.min.js" defer></script>
<script src="~/Custom_JS/ProspectListAdmin_INdex_JS.js" defer></script>