@model StaffandTrain.Models.WorkerCheckInModel
@{
    ViewBag.Title = "CheckInWorker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/docsupport/style.css">
<link rel="stylesheet" href="~/docsupport/prism.css">

<link href="~/chosen.css" rel="stylesheet" />
<div class="container main-ctn">
    <h1 class="title">Check In Worker</h1>

    @if (@ViewBag.Message != null && @ViewBag.Message == "Checked In Successfully!")
    {
        <div id="" class="alert alert-success">@ViewBag.Message</div>
    }
    else if (@ViewBag.Message != null)
    {
        <div id="" class="alert alert-danger">@ViewBag.Message</div>
    }

    @using (Html.BeginForm("CheckInWorker", "WorkerCheckIn", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="admin-form">
            <div class="admin-ctn">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Email</label>

                        @Html.TextBoxFor(x => x.Email, new { id = "txtemail", @placeholder = "Email", @class = "form-control" })
                        <div id="" class="validateTips"></div>

                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Password</label>

                        @Html.TextBoxFor(x => x.Password, new { id = "txtpassword", @placeholder = "Password", @class = "form-control", @type = "password" })
                        <div id="" class="validateTips"></div>

                    </div>

                    <div class="clearfix"></div>
                    <div class="col-sm-12 form-group">
                        <hr>
                        <button class="btn btn-success" type="submit" id="btnsave">
                            Check In
                        </button>
                    </div>
                </div>
            </div> <!--end admin-form-->

        </div>
    }
</div>
<script src="~/chosen.jquery.min.js"></script>
<script src="~/Custom_JS/WorkerCheckIn.js" defer></script>
<script src="~/docsupport/prism.js" charset="utf-8"></script>
<script src="~/docsupport/init.js" charset="utf-8"></script>






