@model StaffandTrain.Models.UserData
@{
    ViewBag.Title = "SaveUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/docsupport/style.css">
<link rel="stylesheet" href="~/docsupport/prism.css">

<link href="~/chosen.css" rel="stylesheet" />
<div class="container main-ctn">
    <h1 class="title">Add/Edit User</h1>

    @if (@ViewBag.Message != null && @ViewBag.Message == "User Saved" || @ViewBag.Message == "User Updated")
    {
        <div id="" class="alert alert-success">@ViewBag.Message</div>
    }
    else if (@ViewBag.Message != null)
    {
        <div id="" class="alert alert-danger">@ViewBag.Message</div>
    }
    @using (Html.BeginForm("CreateUser", "ManageUser", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="admin-form">
            <div class="admin-ctn">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Name</label>
                        @Html.TextBoxFor(x => x.name, new { id = "txtname", @placeholder = "Name", @class = "form-control" })
                        <div id="" class="validateTips"></div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Email</label>

                        @Html.TextBoxFor(x => x.Email, new { id = "txtemail", @placeholder = "Email", @class = "form-control" })
                        <div id="" class="validateTips"></div>

                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Password</label>

                        @Html.TextBoxFor(x => x.Password, new { id = "txtpassword", @placeholder = "Password", @class = "form-control", @type = "password" })
                        <div id="" class="validateTips"></div>

                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" id="txtconpass">
                        <div id="" class="validateTips"></div>

                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Roles </label>

                        @Html.DropDownListFor(x => x.Roles, (IEnumerable<SelectListItem>)ViewData["Roles"], new { name = "ddlroles", @class = "form-control", id = "ddlroles" })
                        <div id="" class="validateTips"></div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Approved</label>
                        <div>
                            @Html.CheckBoxFor(x => x.IsApproved)
                        </div>

                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Locked Out</label>
                        <div>
                            @Html.CheckBoxFor(x => x.IsLockedOut)
                        </div>
                    </div>


                    <input type="hidden" id="hdnrolesaved" value="@Model.RoleSaved" />
                    <div class="clearfix"></div>
                    <div class="col-sm-12 form-group">
                        <hr>
                        @if (string.IsNullOrEmpty(Model.UserId))
                        {
                            <button class="btn btn-success" type="submit" id="btnsave">Save User</button>
                        }
                        else
                        {
                            <button class="btn btn-success" type="submit" id="btnsave">Update User</button>
                        }

                        <a href="/ManageUser/Index" class="btn btn-success" id="lnkcreatedata">Back to list </a>

                    </div>
                    <div style="display:none">
                        @Html.TextBoxFor(x => x.UserId, new { id = "txtuserid" })
                    </div>
                </div>
            </div> <!--end admin-form-->

        </div>
    }
</div>
<script src="~/Custom_JS/ManageUser_Save.js" defer></script>
@*<script type="text/javascript">
    //$(document).ready(function () {
    //    var dataroles = $("#hdnrolesaved").val().split(",");
    //    $("#ddlroles").val(dataroles).trigger("chosen:updated");

    //    $("#txtname").blur(function () {
    //        checkusename();
    //    });

    //    $("#btnsave").click(function () {
    //        $(".validateTips").html("");
    //        if ($("#txtname").val().trim() == "") {
    //            $('#txtname').nextAll(".validateTips:first").html("Enter UserName");
    //            return false;
    //        }
    //        if ($("#txtemail").val().trim() == "") {
    //            $('#txtemail').nextAll(".validateTips:first").html("Enter Email");
    //            return false;
    //        }
    //        if ($("#txtemail").val().trim() != "") {
    //            if (!validateEmail($("#txtemail").val().trim())) {
    //                $('#txtemail').nextAll(".validateTips:first").html("Invalid Email");
    //                return false;
    //            }

    //        }

    //        if ($("#txtuserid").val().trim() == "") {
    //            if ($("#txtpassword").val().trim() == "") {
    //                $('#txtpassword').nextAll(".validateTips:first").html("Enter Password");
    //                return false;
    //            }
    //            if ($("#txtpassword").val().length < 5) {
    //                $('#txtpassword').nextAll(".validateTips:first").html("Password length should contain minimum 5 characters");
    //                return false;
    //            }

    //            if ($("#txtconpass").val().trim() == "") {
    //                $('#txtconpass').nextAll(".validateTips:first").html("Enter Confirm Password");
    //                return false;
    //            }
    //        }
    //        else {
    //            if ($("#txtpassword").val() != "") {
    //                if ($("#txtpassword").val().length < 5) {
    //                    $('#txtpassword').nextAll(".validateTips:first").html("Password length should contain minimum 5 characters");
    //                    return false;
    //                }

    //                if ($("#txtconpass").val().trim() == "") {
    //                    $('#txtconpass').nextAll(".validateTips:first").html("Enter Confirm Password");
    //                    return false;
    //                }
    //            }
    //        }
    //        if ($("#txtconpass").val().trim() != "") {
    //            if ($("#txtconpass").val().trim() != $("#txtpassword").val().trim()) {
    //                $('#txtconpass').nextAll(".validateTips:first").html("Password and Confirm password does not match");
    //                return false;
    //            }

    //        }
    //        if ($("#ddlroles").val() == "" || $("#ddlroles").val() == null) {
    //            $('#ddlroles').nextAll(".validateTips:first").html('Select Role');
    //            chkvalidation = 0;
    //        }

    //    });
    //});
    //function validateEmail(Email) {
    //    var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
    //    if (!filter.test(Email)) {
    //        return false;
    //    }
    //    else {
    //        return true;
    //    }
    //}

    //function checkusename() {
    //    var Username = $("#txtname").val().trim();
    //    var action = "";
    //    var userid = ""
    //    if ($("#txtuserid").val().trim() == "") {
    //        action = "Insert";
    //    }
    //    else {
    //        action = "Update";
    //        userid = $("#txtuserid").val().trim();
    //    }
    //    if (Username != "") {
    //        $.ajax({
    //            url: '/ManageUser/checkuser',
    //            type: 'POST',
    //            data: { Username: Username, action: action, userid: userid },
    //            async: false,
    //            success: function (response) {

    //                if (response == 0) {
    //                    $('#txtname').nextAll(".validateTips:first").html("");
    //                    $('#btnsave').removeAttr("disabled", "disabled");
    //                }
    //                else {
    //                    $('#txtname').nextAll(".validateTips:first").html('User already exist');
    //                    $('#btnsave').attr("disabled", "disabled");

    //                    //alert("Please verify yourself by click on link on verification mail to continue");
    //                }



    //            }
    //        });
    //    }
    //}
</script>*@
<script src="~/chosen.jquery.min.js"></script>
<script src="~/docsupport/prism.js" charset="utf-8"></script>
<script src="~/docsupport/init.js" charset="utf-8"></script>






