@using StaffandTrain.Common;
@{
    Layout = null;
    Common cm = new Common();
}

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            @*<th>City Circle</th>*@
            <th>Biz Type</th>
            <th>CompanyName</th>
            <th>User Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var i in Model)
            {
                string str = "";
                if (@i.priority == true)
                {
                    str = "Str_blue";

                }
                else if (@i.target == true)
                {
                    str = "Str_pink";
                }
                <tr class="@str">
                    @*<td style="display:none">@i.citycircle</td>*@
                    <td>@i.biztype</td>
                    <td>
    <a href="/ProspectViewCompanyClient/Index?Compid=@cm.Code_Encrypt(CryptorEngine.Encrypt(i.companyid.ToString()))"> @i.name </a>
                        @*<a href="#"> @i.name </a>*@
                    </td>
                    <td>
                        @if (@i.Userid != null)
                        {
                            if (User.Identity.Name.ToUpper() == @i.Userid.ToUpper())
                            {
                                <a class="btn Edit" href="/ProspectViewListClient/SaveCompany?companyidedit=@i.companyid"><i class="fa fa-pencil-square-o"></i></a>

                                <a href="/ProspectViewListClient/DeleteCompany?companyidedit=@i.companyid&listid=@i.listid" class="btn Delete" onclick='return confirm("Are you sure you wish to delete this Company?");'><i class="fa fa-trash-o"></i></a>
                            }
                        }
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No Record Found</td>
            </tr>
        }
    </tbody>
</table>
