@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/loading.css" rel="stylesheet" />
<div class="loading">Loading&#8230;</div>
<div class="container main-ctn">



    <h1 class="title">Prospect View List(Client)</h1>


    <div id="divlistid" data-listid="@ViewBag.listid">List Name : @ViewBag.listid  @ViewBag.listname</div>
    <div id="divmsg" class="alert alert-success" style="display:none"></div>
    @if (@ViewBag.message != null && @ViewBag.message != "Error" && ViewBag.Message != "No Company Found to export" && ViewBag.Message != "No Contact Found to export")
    {
        <div id="" class="alert alert-success">@ViewBag.Message</div>
    }
    else if (@ViewBag.message != null && ViewBag.Message != "No Company Found to export" && ViewBag.Message != "No Contact Found to export")
    {
        <div id="" class="alert alert-danger">@ViewBag.Message</div>
    }


    <div class="">
        <div class="col_exp">
            <label></label>
            <a href="/ProspectViewListClient/exporttoexcel?listid=@ViewBag.listid" class="">Export Company List To Excel</a>
        </div>
        <div class="clearfix"></div>
        <div class="col_exp">
            <div>
                <label></label>
                @Html.DropDownList("ddlbiztypecon", (IEnumerable<SelectListItem>)ViewData["Biztypelist"], "Select Biztype", new { name = "ddlbiztypecon", id = "ddlbiztypecon" })
                <a href="/ProspectViewListClient/exporttocontactexcel?listid=@ViewBag.listid" id="lnkconexport" class="btn lnk_export">Export Contact List To Excel</a>
                <div id="" class="validateTips"></div>
            </div>



        </div>
    </div>
    <div class="clearfix"></div>
    <h1 class="title">Search</h1>
    <div class="admin-formNew">
        <div class="col-sm-4 form-group">
            <label>City Circle</label>
            @Html.DropDownList("ddlcitycircle", (IEnumerable<SelectListItem>)ViewData["citycirclelist"], "Select City Circle", new { name = "ddlcitycircle", @class = "form-control", id = "ddlcitycircle" })
            @*@Html.DropDownListFor(x => x.citycircle, ViewBag.citycircle as SelectList,new { name = "ddlcity", @class = "form-control", id = "ddlcity" })*@
            <div id="" class="validateTips"></div>
        </div>
        <div class="col-sm-4 form-group">
            <label>Biztype</label>
            @Html.DropDownList("ddlbiztype", (IEnumerable<SelectListItem>)ViewData["Biztypelist"], "Select Biztype", new { name = "ddlbiztype", @class = "form-control", id = "ddlbiztype" })
            @*@Html.DropDownListFor(x => x.citycircle, ViewBag.citycircle as SelectList,new { name = "ddlcity", @class = "form-control", id = "ddlcity" })*@
            <div id="" class="validateTips"></div>
        </div>
        <div class="col-sm-4 form-group">
            <label>Title</label>
            @Html.DropDownList("ddltitle", (IEnumerable<SelectListItem>)ViewData["Titlelist"], "Select Title", new { name = "ddltitle", @class = "form-control", id = "ddltitle" })
            @*@Html.DropDownListFor(x => x.citycircle, ViewBag.citycircle as SelectList,new { name = "ddlcity", @class = "form-control", id = "ddlcity" })*@
            <div id="" class="validateTips"></div>
        </div>
        <div class="col-sm-4 form-group">
            <label>Name </label>
            @Html.TextBox("txtname", null, new { @class = "form-control", @id = "txtname" })
            <div id="" class="validateTips"></div>
        </div>
        <div class="col-sm-4 form-group">
            <label>Notes</label>
            @Html.TextBox("txtnotes", null, new { @class = "form-control", @id = "txtnotes" })
            <div id="" class="validateTips"></div>
        </div>
        <div class="col-sm-4 form-group">
            <label></label>
            <div class="divcreate"><a href="javascript:void(0)" class="btn btn-success" id="lnksearch">Search </a> </div>
        </div>


        @*<div class="col-sm-4 form-group">
                <label></label>
                <div class="divcreate"><a href="/ProspectViewList/exporttoexcel?listid=@ViewBag.listid"  class="btn btn-success">Export Company List To Excel</a> </div>
            </div>
            <div class="col-sm-4 form-group">
                <label>Biztype</label>
                @Html.DropDownList("ddlbiztypecon", (IEnumerable<SelectListItem>)ViewData["Biztypelist"], "Select Biztype", new { name = "ddlbiztypecon", @class = "form-control", id = "ddlbiztypecon" })
            </div>
            <div class="col-sm-4 form-group">
                <label></label>
                <div class="divcreate"><a href="/ProspectViewList/exporttocontactexcel?listid=@ViewBag.listid" id="lnkconexport"  class="btn btn-success">Export Company List To Excel</a> </div>
            </div>*@

    </div>

    <div class="divcreate">
        <a href="/ProspectViewListClient/SaveCompany" class="btn btn-success" id="lnkcreate">Create New   <i class="fa fa-plus" aria-hidden="true"></i></a>

    </div>

    <div id="tblpros"></div>



    <label id="lbllistid" style="display:none">@ViewBag.listid</label>
    <label id="IsAuthenticated" style="display:none">@Request.IsAuthenticated</label>
</div>
@if (ViewBag.Message != null && (ViewBag.Message == "No Company Found to export" || ViewBag.Message == "No Contact Found to export"))
{
    <script type="text/javascript">

        @*window.onload = function () {
            alert("@ViewBag.Message");
        };*@
    </script>
}
    <script src="~/Custom_JS/ProspectViewListClient_Index.js" defer></script>

<script type="text/javascript">
    @*$(document).ready(function () {
        var queryattr = $("#lnkconexport").attr('href');

        queryattr = queryattr + "&biztype=" + $("#ddlbiztypecon").val();
        $("#lnkconexport").attr('href', '/ProspectViewListClient/exporttocontactexcel?listid=@ViewBag.listid' + '&biztype='+ $("#ddlbiztypecon").val()); 
        $("#ddlbiztypecon").change(function () {
            $(".loading").show();
            $(".validateTips").text("");
            var queryattr = $("#lnkconexport").attr('href');
            if ($("#ddlbiztypecon").val() != "") {
                queryattr = queryattr + "&biztype=" + $("#ddlbiztypecon").val();
                //$("#lnkconexport").attr('href', queryattr);
                $("#lnkconexport").attr('href', '/ProspectViewListClient/exporttocontactexcel?listid=@ViewBag.listid' + '&biztype=' + $("#ddlbiztypecon").val());
                setTimeout(function () { $(".loading").hide(); }, 5000);
            }
            else {
                $(".loading").hide();
            }

        });
        var listid = $("#divlistid").attr('data-listid');
        //var vars = [], hash;
        //var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        //for (var i = 0; i < hashes.length; i++) {
        //    hash = hashes[i].split('=');
        //    listid = hash[1];

        //}
        if (listid != "") {
            $("#lnkcreate").attr('href', '/ProspectViewListClient/SaveCompany?compid=' + listid);

        }
        getcompanylist(listid);
        $("#lnksearch").click(function () {
            showLoader();
            var listid = $("#divlistid").attr('data-listid');
            getcompanylist(listid);
        });
        //$("#lnkconexport").click(function () {

        //    if ($("#ddlbiztypecon").val() == "") {
        //        $('#ddlbiztypecon').nextAll(".validateTips:first").html("Select BizType");
        //        return false;
        //    }
        //    else {
        //        return true;
        //    }
        //});

    });*@
    @*function getcompanylist(listid) {
        var citycircle = $("#ddlcitycircle").val();
        var biztype = $("#ddlbiztype").val();
        var title = $("#ddltitle").val();
        var name = $("#txtname").val().trim();
        var Notes = $("#txtnotes").val().trim();
        if ('@Request.IsAuthenticated' === 'True') {
            $.ajax({
                type: "POST",
                url: "/ProspectViewListClient/GetCompanyList",
                async: false,
                data: { listid: listid, citycircle: citycircle, biztype: biztype, title: title, name: name, Notes: Notes },
                beforeSend: function () { showLoader(); },
                success: function (msg) {
                    $("#tblpros").html(msg);
                    hideLoader();

                },
                error: function (error) {
                }
            });
        }
        else {
            window.location.href = "\Login\Index";
        }
    }*@
    //function showLoader() {
    //    $(".loading").show()

    //}

    //function hideLoader() {
    //    setTimeout(function () {
    //        $(".loading").hide();
    //    }, 1000);
    //}



</script>
