@using StaffandTrain.Models
@model  ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
 

           
                <h3>Great to have you back !</h3>
                @using (Html.BeginForm("ResetPassword", "ForgotPassWord", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                if (@ViewBag.Message != null && @ViewBag.Message != "")
                {
                        <div id="" class="alert alert-success">@ViewBag.Message</div>
                    }
                    if (@ViewBag.Message != null && @ViewBag.Message == "Some Error Occured.")
                    {
                        <div id="" class="alert alert-danger">@ViewBag.Message</div>
                    }

                    <ul>

                        <li>
                            <label>Password</label>

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "txtpassword", @maxlength = "50" })
                            <div id="" class="validateTips"></div>
                        </li>
                        <li>
                            <label>Confirm Password</label>

                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txtconpassword", @maxlength = "50" })
                            <div id="" class="validateTips"></div>
                        </li>

                        <li style="display:none">
                            <label>UserKey</label>
                            <input type="text" id="txtuserid" value="@Model.UserId" name="txtuserid" />

                            <div id="" class="validateTips"></div>
                        </li>
                        <li class="last">
                            <button type="submit" class="btn btn-primary" id="btnsave">Update Password</button>
                        </li>
                    </ul>
                }

            
<script src="~/Custom_JS/ForgetPass_ResetPass_JS.js" defer></script>
          




