
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="section">Manage Roles</h3>
@if (@ViewBag.Message != null && @ViewBag.Message != "")
{
    <div id="" class="alert alert-success">@ViewBag.Message</div>
}
@if (@ViewBag.Message == "Role not exist" || @ViewBag.Message == "Error")
{
    <div id="" class="alert alert-danger">@ViewBag.Message</div>
}
<div id="tblroles">

    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>

                <th>RoleName</th>
                <th>User Count</th>
                <th>User Actions</th>
                @*<th>Delete</th>*@

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>RoleName</th>
                <th>User Count</th>
                <th>User Actions</th>
                @*<th>Delete</th>*@
            </tr>
        </tfoot>
        <tbody>
            @if (ViewBag.rolecountdata != null)
            {
                foreach (var roles in ViewBag.rolecountdata)
                {
                    <tr>
                        <td>@roles.RoleName</td>

                        <td>@roles.UserCount</td>
                        <td>
                            <a class="btn Edit" onclick="showpopupedit('@roles.RoleName')" href="javascript:void(0)"><i class="fa fa-pencil-square-o"></i></a>
                            @if (roles.UserCount == 0)
                            {
                                <a href="/ManageRoles/Delete_Role?RoleName=@roles.RoleName" class="btn Delete" onclick='return confirm("Are you sure you wish to delete this Role?");'><i class="fa fa-trash-o"></i></a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No Roles found</td>
                </tr>
            }
        </tbody>
    </table>
</div>




@*@if (ViewBag.rolecountdata != null)
    {
        <div class="rl_Details clearfix">
            <div class="divrole rl_head">
                <div class="rl_heading">RoleName</div>
                <div class="rl_heading">User Count</div>
            </div>
            @foreach (var roles in ViewBag.rolecountdata)
            {
                <div class="divrole">
                    <div class="rl_cnt">@roles.RoleName</div>
                    <div class="rl_cnt">@roles.UserCount</div>
                </div>
            }
        </div>
    }
    else
    {
        <div>No Members found</div>
    }*@
<div class="divcreate"><a href="javascript:void(0)" class="btn btn-success" onclick="showpopup()" id="lnkcreate">Create New   <i class="fa fa-plus" aria-hidden="true"></i></a> </div>


<div class="note"><i>* Note: before a role can be selected and deleted all users must be removed from the role.</i></div>
<div class="modal manage-sts-popup" id="FileManageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnPopupClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Role</h4>
            </div>
            <div class="clearfix"></div>
            <div class="modal-body">

                @*<div class="modal-row" id="oldrolename" style="display:none">
                        <h3>Old Role Name</h3>
                        <div class="input-fld select-box">



                            <div id="divrole"></div>

                        </div>
                    </div>*@
                <div class="col-sm-12 form-group" id="oldrolename" style="display:none"><label>Old Role Name</label><div id="divrole"></div></div>
                <div class="col-sm-12 form-group">
                    <label>Role Name</label>
                    <input type="text" id="txtrolename" class="form-control" placeholder="Role Name">
                    <input type="text" class="form-control" id="txtoldrolename" style="display:none" />
                    <div id="" class="validateTips"></div>
                </div>

                @*<div class="modal-row">
                        <h3>Role Name</h3>
                        <div class="input-fld select-box">
                            <input type="text" class="form-control" id="txtrolename" />

                            <div id="" class="validateTips"></div>
                        </div>
                    </div>*@

            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <div id="divcreaterole"> <a href="javascript:void(0);" name="btnAddFile" class="btn btn-success"> Create</a> </div>
                <div id="divUpdaterole"> <a href="javascript:void(0);" name="btnupdaterole" class="btn btn-success"> Update</a> </div>
                <div id="divmsg"></div>
            </div>

        </div>
    </div>
</div>
<label id="IsAuthenticated" style="display:none">@Request.IsAuthenticated</label>
<script src="~/Custom_JS/ManageRole_Index.js" defer></script>

<script type="text/javascript">

    //function showpopup() {
    //    $(".alert").hide();
    //    $(".validateTips").text("");
    //    $("#divcreaterole").show();
    //    $("#divUpdaterole").hide();
    //    $("#divrole").text("");
    //    $("#oldrolename").hide();
    //    $("#myModalLabel").text("Create Role");
    //    $("#txtrolename").val("");
    //    $('#FileManageModal').modal('show');
    //}

    //function showpopupedit(role) {
    //    $(".alert").hide();
    //    $(".validateTips").text("");
    //    $("#myModalLabel").text("Update Role");
    //    $("#txtoldrolename").val(role);
    //    $("#divrole").text(role);
    //    $("#oldrolename").show();
    //    $("#divcreaterole").hide();
    //    $("#divUpdaterole").show();
    //    $("#txtrolename").val("");
    //    $('#FileManageModal').modal('show');
    //}




    @*$(document).on("click", "a[name='btnAddFile']", function (e) {
        $("#divmsg").text("");
        $(".validateTips").text("");
        if ($("#txtrolename").val().trim() == "") {
            $('#txtrolename').nextAll(".validateTips:first").html("Enter Role Name");
            $('#FileManageModal').modal('show');
            return false;
        }
        var RoleName = $("#txtrolename").val();
        if ('@Request.IsAuthenticated' === 'True') {
            $.ajax({
                type: "POST",
                url: "/ManageRoles/Save_Role",
                data: { RoleName: RoleName },
                dataType: 'json',


                success: function (msg) {
                    
                    if (msg == "Success") {
                        getupdatedroles();
                        $('#FileManageModal').modal('hide');
                    }
                    else {
                        $('#FileManageModal').modal('show');
                        // $("#divmsg").text(msg);
                        $('#txtrolename').nextAll(".validateTips:first").html(msg);
                    }


                },
                error: function (error) {

                }
            });
        }
        else {
            window.location.href = "\Login\Index";
        }


    });*@


    @*$(document).on("click", "a[name='btnupdaterole']", function (e) {
        $("#divmsg").text("");
        $(".validateTips").text("");
        if ($("#txtrolename").val().trim() == "") {
            $('#txtrolename').nextAll(".validateTips:first").html("Enter Role Name");
            $('#FileManageModal').modal('show');
            return false;
        }

        var RoleName = $("#txtrolename").val();
        var OldRoleName = $("#txtoldrolename").val();
        if ('@Request.IsAuthenticated' === 'True') {
            $.ajax({
                type: "POST",
                url: "/ManageRoles/Update_Role",
                data: { RoleName: RoleName, OldRoleName: OldRoleName },
                dataType: 'json',


                success: function (msg) {
                    if (msg == "Success") {
                        getupdatedroles();
                        $('#FileManageModal').modal('hide');
                    }
                    else {
                        $('#FileManageModal').modal('show');
                        // $("#divmsg").text(msg);
                        $('#txtrolename').nextAll(".validateTips:first").html(msg);
                    }


                },
                error: function (error) {

                }
            });
        }
        else {
            window.location.href = "\Login\Index";
        }

    });*@


    //function getupdatedroles() {
    //    $.ajax({
    //        type: "POST",
    //        url: "/ManageRoles/updatedroles",

    //        async: false,
    //        success: function (msg) {
    //            if (msg != "") {
    //                $('#tblroles').html(msg);
    //            }
    //        },
    //        error: function (error) {
    //        }
    //    });
    //}

</script>
